@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.button-cta {
  /* Gaya tambahan untuk tombol */
  background: blue;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;

  /* Misalnya, tambahkan efek hover */
  &:hover {
    border-color: #3b82f6; /* Biru */
  }
}
