@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.button-cta {
  /* Gaya tambahan untuk tombol */
  background: blue;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;

  /* Misalnya, tambahkan efek hover */
  &:hover {
    border-color: #3b82f6; /* Biru */
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll-infinite {
  animation: scroll 20s linear infinite;
  white-space: nowrap;
  display: inline-block;
  will-change: transform;
}

.scroll-container {
  overflow: hidden;
  width: 100%;
}
