@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.5s ease, color 0.5s ease;
}

:root {
  --primary-color: #fbf4e2;
  --secondary-color: #2e3192;
  --green-color: #b4d51e;
  --orange-color: #ffc735;
  --black-color: #000000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-products {
  background-image: url("/background1.png");
  background-position: center; /* Menjaga gambar berada di tengah */
  background-repeat: no-repeat; /* Mencegah gambar diulang */
  background-size: contain; /* Mencocokkan gambar dalam ruang yang tersedia tanpa dipotong */
  position: relative; /* Membuat konteks posisi untuk elemen anak ( jika ada) */
  height: 500px; /* Tinggi kontainer */
  z-index: -1; /* Pastikan elemen ini berada di belakang elemen lain */
}
.bg-detail {
  background-image: url("/Image/products/1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 400px;
  height: 500px;
  z-index: -1;
}

@layer components {
  .hero-link {
    @apply relative text-black cursor-pointer text-[17px] w-fit lg:block after:block after:content-[""]
     after:absolute after:h-[3px] after:bg-blue-700 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center;
    @apply after:hover:scale-x-100 after:active:scale-x-100;
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.bg-hero {
  background-image: url("https://s3-alpha-sig.figma.com/img/9305/b68e/1a5930ae3c33b038c88eed7bef7da0fd?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=inngVRFJtl~Puy17EKTz8PE1vRwYmafOH3N82QuqlmktPjAX25FtA1zP4H0Y4lhR74EsaXazS2wcT1A73n9wbBs6fntAT1g~AzLJIJ9JpIFvZKqXvodhDl6qGvfAfBngquhbMriqcqXM9-i00-PAmZMeC9lj33POA3i30UeE2eo6ynmLm9PrPow9TX1q-YUxD02cECMBAW07o9IVRfmyBl0wwCmknMur2TYFgy~e1x5pForHyS6gZZDOusULJEcgoYSY4-BWYtCyeERyNOxQ-e78mHUFu4QpI2~nUO43yCaX4yKKzbXOKf4E4GydJ0QeDm7P1z2tnAakFTo9wULzUw__");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: rgba(55, 65, 81, 0.8);
  background-blend-mode: multiply;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll-infinite {
  animation: scroll 20s linear infinite;
  white-space: nowrap;
  display: inline-block;
  will-change: transform;
}

.scroll-container {
  overflow: hidden;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("/Image/projects/background.png");
  background-size: 100em;
  background-position: center;
  background-repeat: no-repeat;
  height: 47vh;
  background-color: white;
  background-blend-mode: multiply;
}

.bg-hero {
  background-image: url("/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: white;
  background-blend-mode: multiply;
}

.project {
  display: grid;
  place-items: center;
  height: 45vh;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 4em;
}

.project h1 {
  margin-top: 2.4em;
}

.transforming {
  display: grid;
  place-items: center;
  height: 55vh;
  right: 100px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.explore {
  display: grid;
  place-items: center;
  right: 390px;
  color: darkgray;
  position: absolute;
  top: 38em;
}

.navbar {
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  font-size: 18px;
}

.navbar :hover {
  transition: ease 0.2s;
  color: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}

::-webkit-scrollbar {
  display: none;
}

.aiso {
  padding-left: 53.5em;
  position: relative;
  bottom: 20.2em;
}

.aiso h1 {
  font-weight: bold;
  font-size: 28px;
}

.aiso h2 {
  color: darkgray;
  font-size: 18px;
}

.bridgewater {
  padding-left: 46.9em;
  position: relative;
  bottom: 6em;
}

.bridgewatertext h1 {
  left: 15em;
  font-weight: bold;
  font-size: 28px;
  position: absolute;
  top: 54.7em;
  text-align: end;
}

.bridgewatertext h2 {
  color: darkgray;
  font-size: 18px;
  position: absolute;
  left: 17.5em;
  top: 89.8em;
  text-align: end;
}

.pleasantview {
  position: relative;
  bottom: 6em;
}

.pleasantviewtext h1 {
  padding-left: 30em;
  position: relative;
  font-weight: bold;
  font-size: 28px;
  bottom: 15.3em;
}

.pleasantviewtext h2 {
  color: darkgray;
  font-size: 18px;
  position: absolute;
  padding-left: 46.7em;
  top: 120em;
}

.all {
  margin-right: 28px;
}

.web {
  margin-right: 28px;
}

.mobile {
  margin-right: 28px;
}

.desktop {
  margin-right: 28px;
}

.iot {
  margin-right: 28px;
}

.ai {
  margin-right: 28px;
}

.dynamic h1 {
  font-weight: bold;
  font-family: sans-serif;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 35px;
  padding-left: 10.5em;
}

.dynamic h2 {
  color: darkgray;
  align-items: center;
  text-align: center;
  display: flex;
  padding-left: 31.5em;
}

.schedule {
  color: white;
  background-color: #0b2447;
  padding: 12px;
  margin: 15px;
  width: 14.5em;
  text-align: center;
  margin-left: 39em;
}

.bottom {
  background-color: #2e3192;
}

.bottom h1 {
  color: white;
  font-weight: bold;
  font-size: 25px;
  padding-left: 80px;
  padding-top: 25px;
  margin-top: 125px;
}

.bottom h2 {
  color: white;
  padding-top: 12px;
  padding-left: 80px;
}

.contact {
  font-size: large;
}

.contactb {
  font-weight: bold;
}

.follow {
  padding-top: 2px;
  font-weight: bold;
  font-size: large;
}

.logo {
  padding-top: 25px;
  padding-left: 80px;
  padding-bottom: 25px;
  display: flex;
}

.fb {
  padding-right: 18px;
}

.ig {
  padding-right: 18px;
}

.company {
  position: absolute;
  padding-left: 30em;
  top: 143.4em;
  font-size: larger;
}

.company h1 {
  font-weight: bold;
}

.resource {
  position: absolute;
  padding-left: 45em;
  top: 143.4em;
  font-size: larger;
}

.legal {
  position: absolute;
  padding-left: 60em;
  top: 143.4em;
  font-size: larger;
}

.dimatab {
  color: white;
  text-align: center;
  align-items: center;
  margin-top: 25px;
}
